/* Reset and Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light--color: #dfdfdf;
  --light-text--color: #ffffff;
  --dark-text--color: #333;
  --primary-color: #007bff;
  --error-color: red;
  --submit-color: #452c63;
  --submit-text: #e6e6fa;
  --base-spacing: 10px;
  --bck-clr: #ffede1;
}

body,
html {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-image: url(./pexels-infonautica-3474948.jpg);
    object-fit: cover;
}

/* Header Styles */
header {
  padding: var(--base-spacing) calc(var(--base-spacing) * 3);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--light--color);
  color: var(--light-text--color);
  border-radius: 5px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  font-weight: bold;
  cursor: pointer;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  margin: 4px 0;
  border-radius: 2px;
}

main {
  padding: 40px;
}

.flex-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: var(--base-spacing);
}
.info {
  flex-direction: row-reverse;
}

.secondryflex-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

.left-content,
.right-content {
  flex: 1;
}

.left-content {
  max-width: 30%;
  margin-bottom: 40px;
}

.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  padding: 20px;
  margin: 8em;
}
h1
{
    text-align: center;
}

.right-content img {
  max-width: 100%;
  width: 80%;
  height: auto;
  object-fit: cover;
}

.imglogo {
  max-width: 100%;
  height: auto;
  width: 20%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 20%;
}

.intro {
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 10px;
  color: var(--dark-text--color);
}

.sub {
  font-size: 30px;
  font-weight: 700;
}

.secondryintro {
  font-size: 35px;
  font-weight: 700;
}

.subsecondryintro {
  font-size: 25px;
  font-weight: 650;
}

.cta {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn {
  padding: 10px 40px;
  background-color: var(--primary-color);
  color: var(--light-text--color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.submit {
  background-color: var(--primary-color);
  color: var(--light--color);
}

.text-link {
  font-weight: bold;
  color: var(--dark-text--color);
  text-decoration: underline;
}

form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 500px;
  margin: 5px;
  padding: 30px;
  border-radius: 5px;
  gap: 2rem;
  background-color: var(--light-text--color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: red;
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: non;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--light--color);
  border: none;
  margin-top: 10px;
  background-color: var(--primary-color);
}



/* Mobile Devices (0px to 599px) */
@media (max-width: 37.5em) {
 body {
  min-width: 300px; /* Or another value that fits your design */
}

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 10px;
    width: 100%;
    text-align: center;
  }
  header {
    background-color: var(--bck-clr);
  }

  nav ul.active {
    display: flex;
  }

  .hamburger {
    display: flex;
    font-weight: bold;
  }

  .flex-section,
  .info {
    flex-direction: column-reverse;
    padding: var(--base-spacing);
  }

  .left-content,
  .right-content,
  .secondry-right-content,
  .secondry-left-content {
    max-width: 100%;
  }

  .intro {
    font-size: 40px;
  }

  .sub {
    font-size: 25px;
  }

  .right-content img,
  .secondry-left-content img {
    width: 100%;
  }

  /* Centering .imglogo */
  .imglogo {
    width: 30%;
    margin: 20px auto; /* Center the image horizontally */
    display: block; /* Ensure it's treated as a block element */
  }

  form {
    width: 100%;
  }

  .form-row {
    flex-direction: column;
  }

  .form-group {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .cta {
    display: flex;
    flex-direction: column;
  }
}

/* Tablet Devices (600px to 1199px) */
@media (min-width: 37.5em) and (max-width: 74.9375em) {
 body {
  min-width: 300px; /* Or another value that fits your design */
}

  nav ul {
    flex-direction: row;
    gap: 15px;
  }
  header {
    background-color: var(--bck-clr);
  }

  .flex-section,
  .info {
    flex-direction: column-reverse;
    padding: var(--base-spacing);
  }

  .left-content,
  .right-content,
  .secondry-right-content,
  .secondry-left-content {
    max-width: 100%;
  }

  .intro {
    font-size: 50px;
  }

  .sub {
    font-size: 28px;
  }

  .right-content img,
  .secondry-left-content img {
    width: 90%;
  }

  /* Centering .imglogo */
  .imglogo {
    width: 25%;
    margin: 20px auto; /* Center the image horizontally */
    display: block; /* Ensure it's treated as a block element */
  }

  form {
    width: 80%;
  }

  .cta {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

